In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_weather = pd.read_csv("../collect_data/data/kma/weather/kma_2022_seoul.csv")
df_finedust = pd.read_csv("../collect_data/data/kma/finedust/kma_2022_seoul.csv")

< Description >
* -9: Missing value

< Goal >
* Extract meaningful variables

# Check missing value rate

In [3]:
df_replaced = df_weather.replace(-9, np.nan)
missing_ratio = df_replaced.isnull().mean() * 100

print("Missing ratio (%)")
print(missing_ratio)

Missing ratio (%)
TM          0.000000
STN         0.000000
WD          0.000000
WS          0.000000
GST_WD     94.165504
GST_WS     94.165504
GST_TM     94.165504
PA          0.000000
PS          0.000000
PT         66.573687
PR         66.573687
TA          0.081358
TD          0.162715
HM          0.000000
PV          0.000000
RN         89.318921
RN_DAY     71.431892
RN_JUN     71.431892
RN_INT    100.000000
SD_HR3     99.628080
SD_DAY     98.523942
SD_TOT     94.304974
WC         82.647606
WP         80.892608
WW          0.000000
CA_TOT      0.000000
CA_MID      0.000000
CH_MIN     48.221757
CT          0.000000
CT_TOP     57.484891
CT_MID     45.211530
CT_LOW     44.060902
VS          0.000000
SS         45.385867
SI         45.385867
ST_GD     100.000000
TS          0.034868
TE_005      0.000000
TE_01       0.000000
TE_02       0.000000
TE_03       0.000000
ST_SEA    100.000000
WH        100.000000
BF        100.000000
IR          0.000000
IX         27.324500
dtype: float64

In [4]:
# 결측치 비율이 20%를 넘는 열 제거
df_filtered = df_replaced.loc[:, missing_ratio <= 20]
df_filtered.shape

(8604, 21)

In [5]:
# Recalculate missing ratio
missing_ratio = df_filtered.isnull().mean() * 100

print("Missing ratio (%)")
print(missing_ratio)

Missing ratio (%)
TM        0.000000
STN       0.000000
WD        0.000000
WS        0.000000
PA        0.000000
PS        0.000000
TA        0.081358
TD        0.162715
HM        0.000000
PV        0.000000
WW        0.000000
CA_TOT    0.000000
CA_MID    0.000000
CT        0.000000
VS        0.000000
TS        0.034868
TE_005    0.000000
TE_01     0.000000
TE_02     0.000000
TE_03     0.000000
IR        0.000000
dtype: float64

In [6]:
### Merge two dataframe
df_finedust.rename(columns={'STN_ID': 'STN'}, inplace=True)
df_merged = pd.merge(df_filtered, df_finedust, on=["TM", "STN"], how='outer')

# TM=20220101이 안 뽑힌 문제
df_merged["TM"] = df_merged["TM"].astype(str)
df_merged = df_merged[~df_merged["TM"].str.startswith("20220101")].reset_index(drop=True)
df_merged

,TM,STN,WD,WS,PA,PS,TA,TD,HM,PV,...,CA_MID,CT,VS,TS,TE_005,TE_01,TE_02,TE_03,IR,PM10
0,202201020000,108.0,5.0,2.3,1016.3,1027.3,-2.8,-10.6,55.0,2.7,...,7.0,Ac,2000.0,-3.3,-0.4,-0.7,-0.3,0.8,3.0,51.0
1,202201020100,108.0,5.0,2.1,1015.8,1026.8,-2.9,-10.2,57.0,2.8,...,8.0,-,2000.0,-3.4,-0.4,-0.7,-0.3,0.8,3.0,62.0
2,202201020200,108.0,5.0,1.9,1015.3,1026.3,-2.6,-9.9,57.0,2.9,...,8.0,-,2000.0,-2.5,-0.4,-0.7,-0.3,0.8,3.0,44.0
3,202201020300,108.0,5.0,2.5,1015.1,1026.1,-2.1,-9.7,56.0,2.9,...,9.0,Sc,2000.0,-2.1,-0.4,-0.7,-0.3,0.8,3.0,39.0
4,202201020400,108.0,5.0,2.0,1014.3,1025.3,-1.9,-9.7,55.0,2.9,...,8.0,Sc,2000.0,-2.1,-0.3,-0.7,-0.3,0.8,4.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753,202212312000,108.0,2.0,1.4,1018.1,1029.0,-0.8,-4.6,75.0,4.3,...,2.0,-,1171.0,-1.8,0.1,0.5,0.5,0.6,3.0,46.0
8754,202212312100,108.0,34.0,0.9,1018.2,1029.2,-1.0,-4.5,77.0,4.4,...,7.0,Sc,1134.0,-2.8,0.2,0.5,0.5,0.6,3.0,52.0
8755,202212312200,108.0,29.0,0.5,1018.3,1029.3,-0.8,-4.1,78.0,4.5,...,8.0,-,1094.0,-2.2,0.3,0.5,0.5,0.6,3.0,68.0
8756,202212312300,108.0,23.0,1.3,1018.5,1029.4,-0.2,-3.7,77.0,4.6,...,8.0,-,1314.0,-2.1,0.3,0.5,0.5,0.6,3.0,72.0
8757,202301010000,108.0,20.0,1.4,1018.5,1029.4,0.9,-3.5,72.0,4.7,...,9.0,Sc,1503.0,-1.6,0.3,0.6,0.5,0.6,3.0,54.0

In [7]:
### Save dataframe
df_merged.to_csv("../collect_data/filtered/kma/kma_2022_seoul.csv", index=False)

# Preprocess all dataset

In [19]:
locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]
years = ["2018", "2019", "2020", "2021", "2022"]

for year in years:
    for lc in locations:
        df_weather = pd.read_csv(f"../collect_data/data/kma/{year}/weather/kma_{year}_{lc}.csv")
        df_finedust = pd.read_csv(f"../collect_data/data/kma/{year}/finedust/kma_{year}_{lc}.csv")

        df_replaced = df_weather.replace([-9, -99, -999], np.nan)
        missing_ratio = df_replaced.isnull().mean() * 100

        df_filtered = df_replaced.loc[:, missing_ratio <= 20]

        df_finedust.rename(columns={'STN_ID': 'STN'}, inplace=True)
        df_merged = pd.merge(df_filtered, df_finedust, on=["TM", "STN"], how='outer')

        # TM=20220101이 안 뽑힌 문제
        df_merged["TM"] = df_merged["TM"].astype(str)
        df_merged = df_merged[~df_merged["TM"].str.startswith("20220101")].reset_index(drop=True)

        df_merged.to_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}.csv", index=False)

In [20]:
# column 안에서 NULL 값이 하나라도 있으면 제거하기

locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]
years = ["2018", "2019", "2020", "2021", "2022"]

for year in years:
    for lc in locations:
        df = pd.read_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}.csv")
        df_clean = df.dropna()
        df_clean.to_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}_noNULL.csv", index=False)

In [22]:
# column 안에서 중복 값 제거 후 저장

locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]
years = ["2018", "2019", "2020", "2021", "2022"]

for year in years:
    for lc in locations:
        df = pd.read_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}_noNULL.csv")

        first_column_name = df.columns[0]
        duplicated = df[first_column_name].duplicated()

        df_duplicated_erase = df.drop_duplicates(subset=[first_column_name])

        df_duplicated_erase.to_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}_noNULL_noDuplicated.csv", index=False)

In [24]:
locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]
years = ["2018", "2019", "2020", "2021", "2022"]

for year in years:
    for lc in locations:
        df_tmp = pd.read_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}_noNULL_noDuplicated.csv")

        first_column_name = df.columns[0]

Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, TE_005, TE_01, TE_02, TE_03, IR, PM10]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, TE_005, TE_01, TE_02, TE_03, IR, PM10]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, TE_005, TE_01, TE_02, TE_03, IR, PM10]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, TE_005, TE_01, TE_02, TE_03, IR, PM10]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, TE_005, TE_01, TE_02, TE_03, IR, PM10]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, PM10]
Index: []
Empty DataFrame
Columns: [TM, STN, WD, WS, PA, PS, TA, TD, HM, PV, WW, CA_TOT, CA_MID, CT, VS, TS, IR, IX, PM10]
Index: []

In [28]:
# NULL -> 0 & 지역별 통합
import os
import pandas as pd

locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]
years = ["2018", "2019", "2020", "2021", "2022"]

os.makedirs("../collect_data/filtered/kma/merged", exist_ok=True)

for lc in locations:
    df = pd.DataFrame()
    for year in years:
        df_tmp = pd.read_csv(f"../collect_data/filtered/kma/{year}/kma_{year}_{lc}.csv")
        df_tmp.fillna(0, inplace=True)
        df = pd.concat([df, df_tmp], axis=0)
    df.to_csv(f"../collect_data/filtered/kma/merged/kma_{lc}.csv", index=False)

### Meta 데이터

In [31]:
# 지점에 따른 위도, 경도 정보
meta = pd.read_csv("../collect_data/data/kma/META_관측지점정보.csv", encoding="cp949")
meta

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
0,90,1968-01-01,NaN,속초,강원특별자치도 고성군토성면 봉포5길9 속초자동기상관측소,속초기상대(90),38.2509,128.5647,17.53,18.73,1.7,10.0,1.4
1,93,2016-10-01,NaN,북춘천,강원특별자치도 춘천시신북읍 산천리264(장본1길 12) 춘천기상대,춘천기상대(101),37.9474,127.7544,95.78,96.78,1.5,10.0,1.4
2,95,1988-01-01,NaN,철원,강원특별자치도 철원군갈말읍 명성로179번길 26 철원자동기상관측소,춘천기상대(101),38.1479,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,1998-02-01,NaN,동두천,경기도 동두천시방죽로 16-47동두천서비스센터,수도권기상청(119),37.9019,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,2013-10-22,NaN,파주,경기도 파주시문산읍 마정로46-29(파주기상대),수도권기상청(119),37.8859,126.7665,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,288,1973-01-01,NaN,밀양,경상남도 밀양시점필재로 5밀양자동기상관측소,울산기상대(152),35.4915,128.7441,8.31,12.50,2.0,10.0,1.3
140,289,1972-03-30,NaN,산청,경상남도 산청군 산청읍 꽃봉산로133번길 3산청자동기상관측소,창원기상대(155),35.4130,127.8791,138.22,138.80,1.6,10.0,0.6
141,294,1972-01-24,NaN,거제,경상남도 거제시 장평2로2길 47거제자동기상관측소(장평동),부산지방기상청(159),34.8882,128.6046,44.83,46.70,1.7,10.0,0.6
142,295,1972-01-24,NaN,남해,경상남도 남해군이동면 남해대로2423 남해자동기상관측소,부산지방기상청(159),34.8166,127.9264,45.71,47.01,1.8,10.0,0.8
143,296,2023-01-11,NaN,북부산,부산광역시 강서구 대저로63번길 54부산지방기상청(대저1동),부산지방기상청(159),35.2178,128.9602,3.00,NaN,NaN,NaN,NaN

In [35]:
meta[meta["지점명"] == "대구"]

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m))
37,143,2017-08-25,NaN,대구,대구광역시 동구 효동로2길 10대구지방기상청 (효목동),대구(구 143),35.8780,128.6530,54.27,55.52,1.8,10.0,0.6
38,143,1907-01-31,2017-08-25,대구,대구광역시 동구 효동로2길 10대구지방기상청 (효목동),대구(구 143),35.8282,128.6522,53.40,54.90,1.8,10.0,0.6

In [36]:
# 위도, 경도 정보 추가
locations = ["seoul", "andong", "daegu", "gwangju", "jeonju"]

for lc in locations:
    df_tmp = pd.read_csv(f"../collect_data/filtered/kma/merged/kma_{lc}.csv")
    
    # 위도와 경도만 선택 (지점 열을 STN으로 사용)
    meta_subset = meta[["지점", "위도", "경도", "시작일"]]  # '지점', '위도', '경도' 열만 선택

    meta_subset = meta_subset.loc[meta_subset.groupby("지점")["시작일"].idxmin()]

    df_tmp = pd.merge(df_tmp, meta_subset[["지점", "위도", "경도"]], left_on="STN", right_on="지점", how="left")  # 'STN'과 '지점'으로 병합
    
    df_tmp.to_csv(f"../collect_data/filtered/kma/merged/kma_{lc}_meta.csv", index=False)