In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../collect_data/data/kma/kma_2022.csv")
df.head()

,TM,STN,WD,WS,GST_WD,GST_WS,GST_TM,PA,PS,PT,...,TS,TE_005,TE_01,TE_02,TE_03,ST_SEA,WH,BF,IR,IX
0,202201020000,108,5,2.3,-9,-9.0,-9,1016.3,1027.3,7,...,-3.3,-0.4,-0.7,-0.3,0.8,-9,-9.0,-9,3,2
1,202201020100,108,5,2.1,-9,-9.0,-9,1015.8,1026.8,-9,...,-3.4,-0.4,-0.7,-0.3,0.8,-9,-9.0,-9,3,-9
2,202201020200,108,5,1.9,-9,-9.0,-9,1015.3,1026.3,-9,...,-2.5,-0.4,-0.7,-0.3,0.8,-9,-9.0,-9,3,2
3,202201020300,108,5,2.5,-9,-9.0,-9,1015.1,1026.1,7,...,-2.1,-0.4,-0.7,-0.3,0.8,-9,-9.0,-9,3,2
4,202201020400,108,5,2.0,-9,-9.0,-9,1014.3,1025.3,-9,...,-2.1,-0.3,-0.7,-0.3,0.8,-9,-9.0,-9,4,1

< Description >
* -9: Missing value

< Goal >
* Extract meaningful variables

# Check missing value rate

In [5]:
df_replaced = df.replace(-9, np.nan)
missing_ratio = df_replaced.isnull().mean() * 100

print("Missing ratio (%)")
print(missing_ratio)

Missing ratio (%)
TM          0.000000
STN         0.000000
WD          0.000000
WS          0.000000
GST_WD     94.414826
GST_WS     94.414826
GST_TM     94.414826
PA          0.000000
PS          0.000000
PT         66.615892
PR         66.615892
TA          0.038081
TD          0.126936
HM          0.000000
PV          0.000000
RN         88.829652
RN_DAY     71.921808
RN_JUN     71.921808
RN_INT    100.000000
SD_HR3     99.809596
SD_DAY     99.276466
SD_TOT     98.222899
WC         82.355928
WP         80.591521
WW          0.000000
CA_TOT      0.000000
CA_MID      0.000000
CH_MIN     47.600914
CT          0.000000
CT_TOP     57.425743
CT_MID     44.389439
CT_LOW     43.297791
VS          0.000000
SS         44.541762
SI         44.541762
ST_GD     100.000000
TS          0.038081
TE_005      0.000000
TE_01       0.000000
TE_02       0.000000
TE_03       0.000000
ST_SEA    100.000000
WH        100.000000
BF        100.000000
IR          0.000000
IX         28.814420
dtype: float64

In [6]:
# 결측치 비율이 20%를 넘는 열 제거
df_filtered = df_replaced.loc[:, missing_ratio <= 20]
df_filtered.shape

(7878, 21)

In [7]:
# Recalculate missing ratio
missing_ratio = df_filtered.isnull().mean() * 100

print("Missing ratio (%)")
print(missing_ratio)

Missing ratio (%)
TM        0.000000
STN       0.000000
WD        0.000000
WS        0.000000
PA        0.000000
PS        0.000000
TA        0.038081
TD        0.126936
HM        0.000000
PV        0.000000
WW        0.000000
CA_TOT    0.000000
CA_MID    0.000000
CT        0.000000
VS        0.000000
TS        0.038081
TE_005    0.000000
TE_01     0.000000
TE_02     0.000000
TE_03     0.000000
IR        0.000000
dtype: float64

In [8]:
import os
os.makedirs("../collect_data/filtered/kma")

### Save dataframe
df_filtered.to_csv("../collect_data/filtered/kma/kma_2022.csv", index=False)